body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.hero {
  padding: 100px 20px;
  background: linear-gradient(to right, #007acc, #00c6ff);
  color: white;
}
